@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");

.membershipoption {
    padding: 38px 33px;
    .close_btn {
        text-align: end;
        .close_img {
            margin-bottom: 26px;
        }
    }
    .welcome_img {
        text-align: center;
        margin-bottom: 17px;
    }
    .welcome_head {
        margin-bottom: 27px;
        h4 {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 29px;
            text-align: center;
            color: #000000;
            margin-bottom: 9px;
        }
        p {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            color: rgba(71, 72, 71, 0.6);
        }
    }
    .payment_box {
        background-color: #ffc71f;
        padding: 21px 21px;
        border-radius: 20px;
        border: 2px solid #000000;
        margin-bottom: 11px;
        .payment_heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            h5 {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;

                color: #000000;
            }
            h6 {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 13px;
                color: #000000;
            }
        }
        .payment_list {
            .payment_list1 {
                display: flex;
                .check_img {
                }
                p {
                    font-family: "DM Sans";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 154.7%;
                    margin-left: 10px;
                    margin-bottom: 11px;
                    color: rgba(0, 0, 0, 0.9);
                }
            }
        }
    }
    .yearly_membership {
        background-color: #2eaaed;
        padding: 21px 21px;
        border-radius: 20px;
        border: 2px solid #000000;
        margin-bottom: 11px;
        .payment_heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            h5 {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;

                color: #fff;
            }
            h6 {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 13px;
                color: #fff;
            }
        }
        .payment_list {
            .payment_list1 {
                display: flex;

                p {
                    font-family: "DM Sans";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 154.7%;
                    margin-left: 10px;
                    margin-bottom: 11px;
                    color: #fff;
                }
            }
        }
    }
    .literacy{
        p{
            font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 26px;
text-align: center;
color: rgba(71, 72, 71, 0.6);
margin-top: 52px;
        }
    }
}
