@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");

.pilife {
    padding: 38px 33px;

    .pihead {
        h2 {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 29px;
            color: #040415;
            margin-bottom: 27px;
            span {
                margin-right: 16px;
            }
        }
    }

    .author {
        margin-bottom: 38px;
        h3 {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #040415;
            margin-bottom: 13px;
        }

        .main_author {
            display: flex;
            .author_img {
                width: 102px;
                height: 102px;
                background: rgba(46, 170, 237, 0.1);
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 19px;
            }
            .author_img1 {
                width: 102px;
                height: 102px;
                margin-right: 19px;
            }
            .author_info {
                h5 {
                    font-family: "DM Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #040415;
                    margin-bottom: 10px;
                }
                p {
                    font-family: "DM Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #2eaaed;
                }
            }

            .bookstore_info {
                h5 {
                    font-family: "DM Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 20px;
                    margin-bottom: 7px;
                    display: flex;
                    align-items: center;
                }
                label {
                    font-family: "DM Sans";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 10px;
                    color: #000000;
                    opacity: 0.5;
                }
                p {
                    font-family: "DM Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    color: #2eaaed;
                    margin-bottom: 4px;
                    white-space: nowrap;
                    span {
                        margin-right: 12px;
                    }
                }
            }
        }
    }
    .condition_btn {
        display: flex;
        // justify-content: space-between;
        margin-bottom: 38px;
        .condition_new {
            margin-right: 72px;
            h6 {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #040415;
                margin-bottom: 13px;
            }
            span {
                background-color: #90e051;
                border-radius: 12px;
                color: #000;
                padding: 9px 18px;
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 17px;
                border: 2px solid #000000;
            }
        }

        .condition_format {
            h6 {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #040415;
                margin-bottom: 13px;
            }
            span {
                background-color: #dfdfdf;
                border-radius: 12px;
                color: #000;
                padding: 9px 18px;
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 17px;
                border: 2px solid #000000;
            }
        }
    }

    .price {
        margin-bottom: 38px;
        display: flex;
        justify-content: space-between;
        h5 {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #040415;
        }
        h6 {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            text-align: right;
            color: #2eaaed;
        }
    }
    .gift_btns {
        margin-top: 100px;
        display: flex;
        .gift_btn1 {
            margin-right: 14px;
            button {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                color: #fff;
                background-color: #2eaaed;
                padding: 17px 35px;
                border: 2px solid #000;
                cursor: pointer;
                transition:all .5s ease;
                &:hover{
                    border:2px solid #000;
                    color: #000;
                    background-color: transparent;
                }
            }
        }
        .request_btn {
            button {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                color: #2f2e41;
                background-color: #ffc71f;
                padding: 17px 25px;
                border: 2px solid #000;
                white-space: nowrap;
                cursor: pointer;
                transition:all .5s ease;
                &:hover{
                    border:2px solid #000;
                    color: #000;
                    background-color: transparent;
                }
            }
        }
    }
}

@media all and (min-width: 375px) and (max-width: 767px) {
    .gift_btns {
        .gift_btn1 {
            button {
                padding: 17px 38px !important;
            }
        }
        .request_btn {
            button {
                padding: 17px 38px !important;
            }
        }
    }
}
