@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");

.pilife {
    padding: 38px 33px;
    .pihead {
        h2 {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 29px;
            color: #040415;
            margin-bottom: 26px;
            span {
                margin-right: 16px;
            }
        }
    }
    .gift_head {
        h3 {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #040415;
            margin-bottom: 17px;
            img {
                margin-left: 6px;
            }
        }
    }
    .gift_types {
        // display: flex;
        margin-bottom: 36px;
        .tofriend {
            label {
                position: relative;
                width: 100%;
                input {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    opacity: 0;
                    // visibility: hidden;
                    z-index: 99;
                    width: 100%;
                }
                button {
                    padding: 15px 37px;

                    white-space: nowrap;
                    font-family: "DM Sans";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 17px;
                    width: 100%;
                    margin-bottom: 14px;
                    span {
                        margin-right: 13px;
                    }
                }
            }
        }
    }
    .form_heading {
        margin-bottom: 37px;
        .heading {
            h4 {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #040415;
                margin-bottom: 16px;
                white-space: nowrap;
            }
        }
        .input_feild {
            margin-bottom: 14px;
            .input_group {
                display: flex;
                border: 1px solid rgba(71, 72, 71, 0.6);
                height: 52px;
                padding: 0px 0px 0px 18px;
                border-radius: 14px;
                overflow: hidden;
                width: 100%;
                margin-bottom: 14px;
                background-color: #fff;
                input {
                    height: 50px;
                    padding: 14px 10px;
                    outline: none;
                    border: 0;
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
        .pickup_btn {
            .tofriend {
                label {
                    position: relative;
                    // width: 100%;
                    input {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        top: 0;
                        opacity: 0;
                        // visibility: hidden;
                        z-index: 99;
                        width: 100%;
                    }
                    button {
                        span {
                            margin-right: 9px;
                        }
                        font-family: "DM Sans";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 26px;
                        color: rgba(71, 72, 71, 0.6);
                        background-color: #fff;
                        padding: 12px 30px;
                        white-space: nowrap;
                        border: 1px solid rgba(71, 72, 71, 0.6);
                    }
                }
            }
        }
    }
    .submit_btn {
        display: flex;
        justify-content: center;
        button {
            background-color: #ffc71f;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #2f2e41;
            border: 2px solid #000;
            padding: 17px 60px;
            white-space: nowrap;
            &:hover {
                background-color: transparent;
                color: #000;
                border: 2px solid #000;
            }
        }
    }
    .terms_condition {
        margin-bottom: 63px;
        label {
            white-space: nowrap;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: rgba(71, 72, 71, 0.7);
            a {
                color: #2eaaed;
                text-decoration: none;
            }
        }
    }
    .gift_types input[type="radio"]:checked + button {
        background-color: #2eaaed;
        border: 2px solid #000;
        color: #ffffff;
        width: 100%;
        span {
            img {
                filter: invert(0);
            }
        }
    }
    .gift_types input[type="radio"] + button {
        border: 2px solid #e9e9e9;
        background-color: transparent;
        span {
            img {
                filter: invert(1);
            }
        }
    }

    .pickup_btn input[type="radio"]:checked + button {
        background-color: #2eaaed;
        border: 2px solid #000;
        color: #ffffff;

        span {
            img {
                filter: invert(0);
            }
        }
    }
    .pickup_btn input[type="radio"] + button {
        border: 2px solid #e9e9e9;
        background-color: transparent;
        span {
            img {
                filter: invert(1);
            }
        }
    }
}

@media only screen and (min-width: 425px) {
    .gift_types {
        display: flex;
        .tofriend {
            margin-right: 9px;
        }
    }
}
@media only screen and (min-width:375px){
    .submit_btn {
        button {
            padding: 17px 92px!important;
        }
}
}
