/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
  /* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Inter"; */
  /* font-family: 'DM Sans', sans-serif; */
  font-family: 'Raleway', sans-serif !important;

}
@tailwind base;
@tailwind components;
@tailwind utilities;


.logo-lg {
  height: 150px;
  width: 100%;
  object-fit: contain;
}

#blue-button {
  background-color: #2EAAED !important;
}
#download_csv {
  background-color: #9BCC2C !important;
}

#clear_list {
  background-color: #fa5252 !important;
}

.controls {
  width: 95%;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: var(--mantine-spacing-xl);
  border: 2px solid var(--mantine-color-gray-8);
  background-color: #FEFBE8;
  /* background-color: var(--mantine-color-gray-0); */
}

.table-wrapper {
  width: 95%;
  max-width: 100%;
  margin: auto;
  overflow-x: auto;
}

/* th,
td,
table {
  border-color: var(--mantine-color-gray-5) !important;
  border-width: 2px !important;
  min-width: max-content !important;
}

td {
  width: fit-content;
  max-width: 200px;
} */

.isbn-search-label {
  font-weight: bold;
  font-size: 24px;
  color: var(--mantine-color-gray-7);
}

.input {
  min-width: 300px;
  width: 100%;
  max-width: 100%;
}
.input-root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

@media (max-width: 968px) {
  .input-root {
    display: block;
  }
}
